<footer class="page-footer" style="background-color: #FFE600">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text make_black">Footer Content </h5>
        <p class="grey-text text-lighten-4 make_black">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text make_black">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 make_black" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3 make_black" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3 make_black" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3 make_black" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container make_black">
    © 2017 ROCKIIT
    <a class="grey-text text-lighten-4 right make_black" href="#!">More Links</a>
    </div>
  </div>
</footer>
