<footer class="page-footer" style="background-color: #FFE600">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text make_black">Ayuda a crecer a RockiiT </h5>
        <p class="grey-text text-lighten-4 make_black">Puedes compartir tus experiencias y vivencias del rock al parque para que lo conozcan más personas.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text make_black">Links</h5>
        <ul>
          <a href="" class="whiteBut btn spacing"><img src="../../assets/images/githulogo.svg" width="20px" height="20px"> Git Hub</a>
          <a href="" class="whiteBut btn spacing"><img src="../../assets/images/instagram.png" width="20px" height="20px"> Comparte en Instagram</a>
          <a href="" class="waves-effect waves-light btn spacing"><img src="../../assets/images/tw.png" width="20px" height="20px"> Comparte en Twitter</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container make_black">
    © 2017 ROCKIIT
    </div>
  </div>
</footer>
