<section class="cd-horizontal-timeline" [ngClass]="{'loaded': loaded}">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events" #eventsWrapper [style.width.px]="eventsWrapperWidth">
        <ol>
          <li *ngFor="let item of timelineElements; let index = index">
            <a #timelineEvents href="#" [ngClass]="{'selected': item.selected, 'older-event': index < selectedIndex}"
               (click)="onEventClick($event, item)">{{item.date | date:dateFormat}}</a>
            <span></span>
          </li>
        </ol>
        <span class="filling-line" aria-hidden="true" #fillingLine></span>
      </div>
    </div>

    <ul class="cd-timeline-navigation">
      <li>
        <a href="#" (click)="onScrollClick($event, false)" class="prev" [ngClass]="{'inactive':prevLinkInactive}">Prev</a>
      </li>
      <li>
        <a href="#" (click)="onScrollClick($event, true)" class="next" [ngClass]="{'inactive':nextLinkInactive}">Next</a>
      </li>
    </ul>
  </div>

      <div class="rock_info">
        <div class="events-content bordering" *ngIf="showContent">
          <ol>
            <li *ngFor="let item of timelineElements; let index = index"
                [@contentState]="item.selected ? 'active' : (index < selectedIndex ? 'left' : 'right')">
                <div class="row">
                  <div class="col-md-5 text-center poster_container">
                      <img src="{{item.img_path}}" alt="" height="350">
                  </div>

                  <div class="col-md-7 information">
                    <h2 class="landing-title">{{item.title}}</h2>
                    <em>{{item.date | date:dateFormat2}}</em>
                    <p>{{item.content}}</p>

                    <h4>Cartel:</h4>
                    <p class="fix_font_size">{{item.cartel}}</p>

                    <div class="text-center grayPlease">
                      <a class="waves-effect waves-light btn spacing" (click)="print(item.date)"><i class="material-icons left">info</i>Conoce más</a>
                      <a  (click)="openPost()" class="waves-effect waves-light btn spacing"><i class="material-icons left">insert_comment</i>Comparte tu experiencia</a>

                    </div>

                  </div>

                </div>

            </li>
          </ol>
        </div>
      </div>

</section>
