<div class="row">
  <div class="col s12 text-center">
    <h1 class="white-font with-cool-font">INGRESA</h1>
  </div>
</div>

<form class="">

    <div class="form_item">
        <label for="">Correo</label>
        <input #email type="text" name="" value="">
    </div>

    <div class="form_item">
        <label for="">Contraseña</label>
        <input #password type="password" name="" value="">
    </div>


    <button type="button" mat-button class="action" (click)="signIn(email.value,password.value)">INGRESA</button>

</form>
