<nav (click)="fff()">
   <div class="nav-wrapper">
     <img class="brand-logo"src="../../assets/images/logo.png" alt="" width="160px" height="66px" routerLink="">
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li *ngIf="!_userIsIn"><a (click)="openSignIn()"><i class="material-icons mat_icon">whatshot</i>INGRESA</a></li>
       <li *ngIf="!_userIsIn"><a (click)="openSignUp()" ><i class="material-icons mat_icon">create</i>REGISTRARSE</a></li>

       <li *ngIf="_userIsIn" (click)="signOut()"><a><i class="material-icons mat_icon">exit_to_app</i>SALIR</a></li>
     </ul>
   </div>
 </nav>
